.Nav-Main{
  padding: 10px 30px;
  display: flex;
  align-items:center;
  justify-content:space-between;
  background:#042d5b;
  height: 60px;
  position:relative;
}
.Nav-list{
  display: flex;
  gap:30px;
}
.Nav-list-item{
  list-style-type: none;
  text-decoration:none;
  color:white;
  padding: 5px;
}
.Nav-Home{
  color:white;
}
.Nav-icon{
  display: none;
}

@media (max-width:600px){
  .Nav-list{
    position: absolute;
    top:50px;
    left:0;
    right:0;
    flex-direction:column;
    text-align:center;
    background-color:#042d5b;
    gap:0;
    overflow:hidden;
    display: none;
  }
  .Nav-list-item{
    padding: 20px;
  }

  .Nav-icon{
    display: block;
  }
}
.open{
  display:flex;

}

.Nav-links{
  text-decoration:none;
  color:white;
}

.Nav-list-item:hover{
  border:0.5px solid blue;
  border-radius:10px;
  background-color:#2188ff;
}

.logout:hover{
border:0.5px solid red;
background-color:red;
cursor:pointer;
}


.Nav-search{
  color:white;
  display: flex;
  align-items:center;
  justify-content:center;
}
.Search{
  float: right;
  padding: 2px;
  border: none;
  font-size: 15px;
  margin-right:4px;
}

